<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<!-- 啟用駝峰式命名規則 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<!-- 類型別名配置 -->
	<typeAliases>
		<package name="idv.ren.bean"/>
	</typeAliases>
</configuration>